body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.angular-google-map-container { height: 400px; }

.filter-settings {
  margin-bottom: 30px;
}

.theater-tabs .nav-tabs {
  margin-bottom: 15px;
}

.user-welcome {
  color: #ffffff;
}